source_docs/pdf/
source_docs/RD_CT_Cost_Sharing_IG_v1.0_png_pages/
source_docs/RemedialActionSchedule_Profile_Specification_v2.2_png_pages/

# Dolt database files (added by bd init)
.dolt/
*.db

# Beads / Dolt files (added by bd init)
.beads-credential-key
.beads/dolt-config.log
tmp/
.tmp/
